{% extends 'customers/base.html' %}

{% block content %}
<div class="form-container">
    <h2>تسجيل الدخول</h2>

    <form method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <div class="form-actions">
            <button type="submit" class="btn btn-primary btn-full">دخول (Login)</button>
        </div>

        <div class="form-footer">
            ليس لديك حساب؟
            <a href="{% url 'register_account' %}">أنشئ حساباً جديداً</a>
        </div>
    </form>
</div>
{% endblock %}